*.class
*.iml

# Package Files #
*.jar
*.war
*.ear
Глава 04/.idea/
Глава 04/.settings/
Chapter 04/.idea/
Chapter 04/target/bundles/osmorc177094020162239975.bnd
Chapter 04/target/
Chapter_04/.idea/
Chapter_04/target/
